@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Poppins&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sevillana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  body,
  button,
  input {
    font-size: 1rem;
  }

  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  Image {
    width: 100%;
    height: auto;
  }
}

@layer components {
  .main_container {
    max-width: 1124px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  @media screen and (min-width:1124px) {
    .main_container {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(23, 23, 23, 0.375);
  }

  .hero_video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }

  .gallery_card {
    columns: 4 12rem;
  }
}